.alertPopup {
  position: relative;
  width: 57.5em;
  height: 13.125em;
  border: none;
  padding: 3.125em;
  .resetButton {
    width: 4em;
    padding: 0.5em;
    margin-top: 1em;
    border-radius: 1em;
    border: none;
    background-color: $brown;
    color: $white;
    cursor: pointer;

    &:active {
      transform: translateY(0.25em);
      border: none;
      outline: none;
    }
    &:hover,
    &:focus {
      border: none;
      outline: none;
      background-color: $blue;
    }
  }
  .closeButton {
    width: 2em;
    height: 2em;
    padding: 0;
    position: absolute;
    top: 3.125em;
    right: 3.125em;
    border: 1px solid black;
    border-radius: 50%;
    padding: 0;
    &:focus {
      border: none;
      outline: none;
      background-color: $blue;
    }
  }
}
