.hero {
  display: flex;
  height: 100vh;
  position: relative;
  justify-content: center;
  margin-top: 6em;
  margin-left: auto;
  margin-right: auto;
  .container {
    @include breakpoint-up(large) {
      display: flex;
    }
  }

  &__image {
    position: relative;
    @include breakpoint-up(large) {
      max-width: 31.563em;
      max-height: 20.625em;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    width: 23.75em;
    height: 15.625em;
    margin-left: 3.1875em;
    h1 {
      font-size: $font-xlg;
    }
    span {
      font-size: $font-med;
    }
    button {
      width: 8em;
      padding: 1em 2.5em 1em 2.5em;
      margin-top: 3.1875em;
      border-radius: 2em;
      border: none;
      background-color: $brown;
      color: $white;
      cursor: pointer;

      &:active {
        transform: translateY(0.25em);
        border: none;
        outline: none;
      }
      &:hover,
      &:focus {
        border: none;
        outline: none;
      }
    }
  }
}
